* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p{
  color: white;
}
html {
  background: #040d21;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  color: white;
}
body{
  background: transparent;
}
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

/*
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=
          Main Page
=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*= 
*/
#app{ 
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-lights{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.main-page{
  position: relative;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main-page > .title{
  font-size: 100px;
  color: white;
  padding-top: 150px;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.main-page > .title> .title-img{
  width: 70px;
  height: 70px;
  padding: 7px;
  margin-top: 20px;
}
.main-page >.subtitle{
  padding-top: 15px; 
  font-size: 20px;
  color: #aaabad;
  margin-bottom: 20px;
}
.main-page >.button-div > a > #btn1{
  width: 150px;
  height: 50px;
  padding: 12px 24px;
  margin: 10px;
  font-size: 17px;
  background: #5e39cb;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease;
}
.main-page >.button-div > a > #btn1:hover{
  background: #472a9e;
} 

.main-page >.button-div > a > #btn2{
  width: 150px;
  height: 50px;
  padding: 12px 24px;
  margin: 10px;
  font-size: 17px;
  border: 2px solid #5e39cb;
  background: transparent;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease;
}
.main-page >.button-div > a > #btn2:hover{
  border: 2px solid #fff;
} 

.idea-block{
  margin: 20px 0px;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  backdrop-filter: blur(120px); 
  border-radius: 20px;
  border: 1px solid #45586e;
}
.idea-block > div{
  display: flex;
  align-item: center;
}
.idea-text{
  font-size: 16px; 
}

.grid-column{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background: transparent;
}
.box{
  width: 90%;
  height: 110px;
  display: flex;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border: 1px solid #45586e;
  background: transparent;
}
.box > .icon{
  width: 28%;
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  border-right: 1px solid #45586e;
  backdrop-filter: blur(120px); 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.box > .description{
  width: 72%;
  height: 100%;
  backdrop-filter: blur(300px); 
  padding: 10px 20px;
}
.box > .description > h1{
  margin: 0;
  margin-bottom: 10px;
  color: white;
  font-size: 25px;
}
.box > .description >p{
  margin: 0;
}
.row{
  margin: 10px 0;
}
.footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
}
.footer > p > a{
  color: #7444ff;
  transition: all 0.3s ease;
}
/*
  * Responsive code
*/
@media (max-width: 480px) {
  .background-lights{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200%;
    transform: rotate(90deg);
  }
  .main-page > .title{
    padding-top: 50px;
    font-size: 80px;
  }
  .main-page >.subtitle{
    padding-top: 15px; 
    font-size: 18px;
    color: white;
    margin-bottom: 20vh;
  }
  .main-page >.button-div > a > #btn1{
    width: 140px;
    height: 40px;
    padding: 5px;
    margin: 0px 3px;
  }
  .main-page >.button-div > a > #btn2{
    width: 140px;
    height: 40px;
    padding: 5px;
    margin: 0px 3px;
  }
}
